* {
  box-sizing: border-box;
}

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.page-header {
  text-align: center;
}

#wrapper {
  max-width: 960px;
  margin: 0 auto;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 31%;
    float: left;
    margin: 10px;
    cursor: pointer;
}

.card img {
  max-width: 100%;
}

.card .product-name {
  text-align: center;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}
